*{
	padding:0px;
	margin:0px;
}


body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:-apple-system, -apple-system,  BlinkMacSystemFont, 'Segoe UI', Roboto,  
			Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
}

.mainSection {
	display: flex;
	flex-direction:column;
	justify-content:center;
	width: 100%;
}
.header{
	display:flex;
	/*flex-direction:row;*/
	border-top:3px solid hsl(27,90%,50%);
	/*inline-size:100%;*/
	width:100%;
	border-bottom:1px solid #ddd;
	
}
.stackLogo{
	
	margin-left:30px;
	padding-top:11px;
	padding-left:7px;
	padding-right:11px;
	cursor:pointer;
}
.stackLogo:hover{
	background-color:hsl(210,8%,85%);
	border-radius:5px;
}
.logo{
	color:#1B75D0;
	height:30px;
	width:150px;
}
.headerTopics{
	display:flex;
	align-items:center;
	margin-left:10px;
	color:#636B74;
	font-size:13px;
	font-family:-apple-system, -apple-system,  BlinkMacSystemFont, 'Segoe UI', Roboto,  
			Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
	
	cursor:pointer;
	/*justify-content:space-between;
	align-items:center;*/
}
.topics{
	display:flex;
	align-items:center;
	padding:5px 10px;
	justify-content:flex-start;
	/*margin:0px 10px;*/
	border-radius:21px;
}
.topics:hover{
	background-color:hsl(210,8%,90%);
}
/*.topicsFirst{
	padding-top:3px;
	padding-right:14px;
	padding-left:11px;
	padding-bottom:8px;
}
.topicsFirst:hover{
	background-color:hsl(210,8%,90%);
	border-radius:50px;
}
.topicsSecond{
	padding-left:9px;
	padding-top:4px;
	padding-right:11px;
}
.topicsSecond:hover{
	background-color:hsl(210,8%,90%);
	border-radius:50px;
}
.topicsThird{
	padding-left:13px;
	padding-top:4px;
	padding-right:12px;
}
.topicsThird:hover{
	background-color:hsl(210,8%,90%);
	border-radius:50px;
}*/
.searchBox{
	display:flex;
	width:700px;
	border-radius:8px;
	justify-content:space-between;
	align-items:center;
	border:1px solid #C0C0C0;
	margin-top:13px;
	margin-bottom:10px;
	margin-left:10px;
}
.searchBox input {
	/*width: 700px;
	border:1px solid #dddd;
	padding: 5px;
	border-radius: 5px;
	padding-left: 3px;*/
	font-size: 13px;
	outline:none;
	border-style:none;
	background-color:#FFFFFF;
	color:black;
	
	
	
}
.userBox{
	display:flex;
}
.userBox span{
	color:#636B74;
	font-size:25px;
}
.searchIcon {
	color: black;
	margin-right: 1px;
	margin-left: 4px;
	padding: 5px;
}
.headerEnd{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	gap:10px;
	cursor:pointer;
}
.login{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:13px;
	padding:5px 10px;
	height:25px;
	border-radius:5px;
	color:#1B75D0;
	border:1px solid #1b75d0;
	margin-left:18px;
}
.login:hover{
	background-color:hsl(206,96%,90%);
}
.signup{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:13px;
	padding:5px 10px;
	background-color:#1b75d0;
	height:25px;
	border-radius:5px;
	color:#ffffff;
}
.signup:hover{
	background-color:hsl(210,80%,23%);
}
.headerMain{
	display:flex;
}
.headerLeftIcons{
	display:flex;
	flex-direction:column;
	border-right:2px solid #ddd;
	height:600px;
	width:190px;
	border-bottom:2px solid #ddd;
}
.headerLeft{
	display:flex;
	flex-direction:column;
	
}
.headerLeftFirst{
	display:flex;
	flex-direction:column;
	margin-top:21px;
	margin-left:39px;
	font-size:13px;
	gap:14px;
}
.homeSection{
	display:flex;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	cursor:pointer;
}
.homeSection svg{
	fill:hsl(210,8%,25%);
}
.homeTxt{
	color:hsl(210,8%,25%);
}
.homeSection svg:hover{
	fill:hsl(210,8%,5%);
}
.homeTxt:hover{
	color:hsl(210,8%,5%);
}
.questionSection{
	display:flex;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	cursor:pointer;
}
.questionSection svg{
	fill:hsl(210,8%,25%);
}
.questionTxt{
	color:hsl(210,8%,25%);
}
.questionTxt:hover{
	color:hsl(210,8%,5%);
}
.questionSection svg:hover{
	fill:hsl(210,8%,5%);
}
.tagsSection{
	display:flex;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	cursor:pointer;
}
.tagsSection svg{
	fill:hsl(210,8%,25%);
}
.tagsTxt{
	color:hsl(210,8%,25%);
}
.tagsSection svg:hover{
	fill:hsl(210,8%,5%);
}
.tagsTxt:hover{
	color:hsl(210,8%,5%);
}
.headerLeftSecond{
	display:flex;
	flex-direction:column;
	margin-left:35px;
	font-size:13px;
	margin-top:28px;
	gap:11px;
	
}
.usersSection{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	width:89%;
	height:25px;
	bordr-radius:5px;
	background-color:hsl(0,0%,95%);
	padding:5px;
	outline:none;
	border-style:none;
	cursor:pointer;
	
}
.companiesSection{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	margin-left:4px;
	cursor:pointer;
}
.companiesSection svg{
	fill:hsl(210,8%,25%);
}
.companiesTxt{
	color:hsl(210,8%,25%);
}
.companiesSection svg:hover{
	fill:hsl(210,8%,5%);
}
.companiesTxt:hover{
	color:hsl(210,8%,5%);
}
.headerLeftThird{
	display:flex;
	flex-direction:column;
	margin-left:35px;
	font-size:13px;
	margin-top:25px;
	gap:17px;
}
.labsSection{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	gap:79px;
	margin-left:4px;
	cursor:pointer;
}
.labsSection svg{
	fill:hsl(210,8%,25%);
}
.labsTxt{
	font-weight:500;
}
.labsSection svg:hover{
	fill:hsl(210,8%,5%);
}
.discussionsSection{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	margin-left:4px;
	cursor:pointer;
}
.discussionsSection svg{
	fill:hsl(210,8%,25%);
}
.discussionsTxt{
	color:#3b4045;
}
.discussionsTxt:hover{
	color:hsl(210,8%,5%);
}
.headerLeftFourth{
	display:flex;
	flex-direction:column;
	margin-left:35px;
	font-size:13px;
	margin-top:27px;
	gap:15px;
}
.collectivesSection{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	gap:35px;
	margin-left:4px;
	cursor:pointer;
}
.collectivesSection svg{
	fill:hsl(210,8%,25%);
}
.collectivesTxt{
	font-weight:500;
}
.collectivesSection svg:hover{
	fill:hsl(210,8%,5%);
}
.exploreSection{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	gap:7px;
	margin-left:4px;
	cursor:pointer;
}
.exploreSection svg{
	fill:hsl(27,90%,55%)
}
.exploreTxt{
	color:#3b4045;
}
.exploreTxt:hover{
	color:hsl(210,8%,5%);
}
.headerLeftFifth{
	display:flex;
	flex-direction:column;
	margin-left:35px;
	font-size:13px;
	margin-top:20px;
}
.teamsTxt{
	font-weight:500;
}
.headermainSection{
	display:flex;
	flex-direction:column;
}
.userImage img{
	margin-left:43px;
	margin-top:15px;
	cursor:pointer;
}
.userInformation{
	display:flex;
}
.userName{
	font-size:34px;
	margin-left:5px;
	width:200px;
	margin-top:22px;
}
.userDetails{
	display:flex;
	flex-direction:column;
}
.userDate{
	display:flex;
	font-size:13px;
	color:hsl(210,8%,42%);
	margin-top:13px;
}
.userDate svg{
	fill:hsl(210,8%,42%);
	cursor:default;
}
.userYear{
	display:flex;
	align-items:center;
	gap:5px;
	
}
.lastSeen{
	display:flex;
	align-items:center;
	gap:6px;
	padding-left:6px;
}
.lastSeen svg{
	gap:3px;
	cursor:default;
}
.icons{
	display:flex;
	font-size:13px;
	gap:12px;
	color:hsl(210,8%,42%);
	height:45px;
}
.userIcons{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:5px;
	
}
.location{
	display:flex;
	align-items:center;
	gap:5px;
}
.icons svg{
	fill:hsl(210,8%,42%);
}
.twitter svg{
	cursor:pointer;
}
.github svg{
	cursor:pointer;
}
.csharpTxt{
	cursor:pointer;
}
.profilebtn{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:468px;
	margin-top:18px;
	border:1px solid #ddd;
	height:30px;
	padding-left:10px;
	border-radius:5px;
	padding-bottom:3px;
	font-size:13px;
	cursor:pointer;
	background-color:hsl(210,8%,98%);
}
.profilebtn svg{
	font-size:21px;
}
.headerSecond{
	display:flex;
	font-size:13px;
	gap:5px;
}
.profilesBtn{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:13px;
	padding:5px 10px;
	height:21px;
	border-radius:21px;
	color:#ffffff;
	margin-left:18px;
	margin-top:10px;
	background-color:hsl(27,90%,55%);
	cursor:pointer;
}
.profilesBtn:hover{
	background-color:hsl(27,87%,41%);
}
.activityBtn{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:13px;
	padding:5px 10px;
	height:21px;
	border-radius:21px;
	margin-top:10px;
	cursor:pointer;
}
.activityBtn:hover{
	background-color:hsl(0,0%,84%);
}

.secondmainSection{
	display:flex;
	
}
.secondmainLeftPart{
	margin-left:21px;
	margin-top:15px;
	display:flex;
	flex-direction:column;
	width:250px;
}

.statsInside{
	border:1px solid #ddd;
	border-radius:10px;
	padding:10px;
	margin-top:12px;
	height:166px;
}
.statsPart h3{
	font-size:21px;
	color:#0c0d0e;
	font-weight:400;
}
.statsInsideFirst{
	display:flex;
	/*justify-content:space-between;*/
	gap:50px;
	margin-right:21px;
}
.statsInsideSecondPart{	
	margin-right:10px;
}
.statsInsideSecond{
	display:flex;
	margin-top:18px;
	gap:67px;
}
.statsInsideThird{
	display:flex;
	flex-direction:column;
	margin-left:6px;
	margin-top:20px;
}
.number{
	font-size:17px;
	color:#0C0D0E;
}
.text{
	font-size:13px;
	color:#636B74;
}
.statsInsideThirdFirst svg{
	font-size:13px;
	fill:#3B4045;
}
.statsInsideThirdSecond p{
	font-size:13px;
	color:#636B74;
}
.statsInsideThirdSecond b{
	color:#636B74;
}
.collectivesPart{
	margin-top:15px;
}
.collectivesPart h3{
	font-size:21px;
	color:#0c0d0e;
	font-weight:400;
}
.collectivesPartInside{
	border:1px solid #ddd;
	border-radius:10px;
	padding:10px;
	margin-top:12px;
	height:52px;
	font-size:13px;
}
.collectivesImg{
	display:flex;
	margin-left:1px;
}
.cloudTxt{
	margin-left:16px;
}
.cloudDate{
	margin-top:5px;
}
.communitiesPart{
	display:flex;
	margin-top:20px;
}
.communitiesPart h3{
	font-size:21px;
	color:#0c0d0e;
	font-weight:400;
}
.viewPart{
	display:flex;
	align-items:center;
	font-size:13px;
	margin-left:41px
}
.viewPart svg{
	margin-left:3px;
}
.communitiesPartInside{
	display:flex;
	flex-direction:column;
	border:1px solid #ddd;
	border-radius:10px;
	padding:10px;
	margin-top:12px;
	height:136px;
	font-size:13px;
}
.firstPart{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding:3px;
}
.txtFi{
	margin-right:85px;
	color:#1B75D0;
}
.txtSe{
	margin-right:48px;
	color:#1B75D0;
}
.txtTh{
	margin-right:109px;
	color:#1B75D0;
}
.txtFo{
	margin-right:107px;
	color:#1B75D0;
}
.txtFif{
	margin-right:54px;
	color:#1B75D0;
}
.num{
	color:#636B74;
}
.contents{
	display:flex;
	flex-direction:column;
}
.aboutTitle{
	display:flex;
	flex-direction:column;
	margin-top:17px;
	margin-left:25px;
}
.aboutTitle h3{
	font-size: 21px;
    	color: #0c0d0e;
    	font-weight: 400;
}
.authorTxt{
	margin-top:10px;
}
.authorTxt a{
	color:#1B75D0;
}
.authorDetails{
	width:540px;
	margin-top:18px;
}
.sites{
	padding-top:20px;
}
.listContents{
	margin-left:29px;
	margin-top:16px;
	color:#3B4045;
}
.listContents a{
	color:#1B75D0;
}
	
.listSetSecond {
	padding-top:8px;
	
	
}
.listSetThird{
	padding-top:8px;
	
}
.listSetFourth{
	padding-top:8px;
	
}
.listSetFifth{
	padding-top:8px;
	
}
.readBtn{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:345px;
	margin-top:34px;
	border:1px solid #ddd;
	height:18px;
	padding-left:7px;
	border-radius:5px;
	padding-bottom:5px;
	padding-top:3px;
	cursor:pointer;
	width:58px;
}
.readTxt{
	font-size: 11px;
    	color: #3b4045;
}